* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #000;
    color: #efe;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container p {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding: 0.5rem;
}

.typed-text {
    font-weight: normal;
    color: #ff8800;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #efe;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #efe;
    }

    49% {
        background-color: #efe;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #efe;
    }
}